.main{
	color: brown;
	font: italic 20px arial, sans-serif;
	text-align: center;
}
#techstitution{
	text-transform: uppercase;

}
#grupi{
	text-shadow: 3px 2px red;
}
// Class
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

